In [4]:
import pandas as pd
df_comment = pd.read_csv('/home/budi/crypto_project/crypto_code/apps_screening/comment_file.csv',low_memory=False)
df_comment

,Unnamed: 0,appId,star,comment
0,0,com.vidulumwallet.app,5,One of the best apps out there for holding cry...
1,1,com.vidulumwallet.app,5,V-staking is awesome!
2,2,com.vidulumwallet.app,1,Slow as hell. Terrible security policy. Awful ...
3,3,com.vidulumwallet.app,5,Absolutely amazing wallet. They just added Eth...
4,4,com.vidulumwallet.app,5,I believe vidulum will make me rich. Why i say...
...,...,...,...,...
452781,452781,jp.co.smartapp.gowallet,5,amazing wallet application
452782,452782,jp.co.smartapp.gowallet,5,good app
452783,452783,jp.co.smartapp.gowallet,5,am just new
452784,452784,jp.co.smartapp.gowallet,4,WoW App! Thank You AdminðŸ˜˜.
452785,452785,jp.co.smartapp.gowallet,3,good

In [18]:
df_sum = df_comment[['appId','star']]
df_sum.sort_values('appId')

                          appId   star
113936  app.bankowallet.android      2
113935  app.bankowallet.android      1
113934  app.bankowallet.android      1
113933  app.bankowallet.android      1
113932  app.bankowallet.android      1
...                         ...    ...
9641     xrp.org.freewallet.app      5
9610     xrp.org.freewallet.app      1
61             za.co.rockwallet      5
60             za.co.rockwallet      1
20573          zapsolutions.zap  error

[452786 rows x 2 columns]

In [17]:
df_sum = df_sum.groupby(['appId'])['appId'].size().reset_index(name='count')
df_sum

                                      appId  count
0                   app.bankowallet.android      1
1                app.codecellar.embitwallet      1
2                      app.elaphant.wallets      1
3    appinventor.ai_oldgoldmen.CryptoWallet      1
4                         asia.coins.mobile      1
..                                      ...    ...
305                       vip.mytokenpocket      1
306                  xmr.org.freewallet.app      1
307                  xrp.org.freewallet.app      1
308                        za.co.rockwallet      1
309                        zapsolutions.zap      1

[310 rows x 2 columns]